
.rowsContainer {
    display: flex;
    flex-direction: row;

}

ul {
    width: 50%;
}


li {
    border: solid 2px var(--blue) ;
    margin: 10px;
    padding: 10px 10px ;
    font-size: 20px;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.buttonrow {
    box-sizing: border-box;
    height: 150px;
}


li.row > div:nth-child(1) {
    flex: 3;
}
li.row > div:nth-child(2) {
    flex: 7;
}
li.row > div:nth-child(3) {
    flex: 1;

    width: 30px;
    height: 30px;
    border-radius: 5%;
    font-size: 1.8em;


    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 16px;
    margin-right: 20px;
    width: 100px;
    height: 50px;
    background-color: var(--blue);
    border-radius: 50px;
}

button.grey {
    background-color: grey;
}


.checked {
    background-color: yellow;
}

.frozen {
    background-color: black;
}