


* {
  margin: 0; 
  padding: 0;

  --blue: rgb(98, 185, 214);
}

.App {
  color: var(--blue);
  margin: 2% 5% ;
}


.header {
  margin-left: 5%;
  margin-bottom: 50px;
}

/* li > div:nth-child(3) {
  background-color: pink;
} */